{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}
{{ super() }}
{% endblock %}

{% block css %}
{{ super() }}
{% endblock %}

{% block body %}
{{ super() }}
{% endblock %}

{% block page %}
<a href="https://github.com/atupal">github</a> 
^_^
<a href="http://weibo.com/u/2625685811">weibo</a>
<h2>QQ空间点赞机</h2>
<br>
<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">QQ/Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter QQ/email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}

{% block js %}
{{ super() }}
{% endblock %}

{% block github %}
{{ super() }}
{% endblock %}
