{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}
{{ super() }}
{% endblock %}

{% block css %}
{{ super() }}
{% endblock %}

{% block body %}
{{ super() }} {% endblock %} {% block header %}
QQ空间点赞机
{% endblock %}

{% block page %}
<form role="form">
  <div class="form-group">
    <label>QQ/Email address<strong class="required"> *</strong></label>
    <span class="required" for="qq"></span>
    <input type="text" name="qq" class="form-control" placeholder="Enter QQ/email" id="qq">
  </div>
  <div class="form-group">
    <label>Password<strong class="required"> {{ '已保存登陆信息,无需再次输入密码' if 'qq' in session else '*' }}</strong></label>
    <span class="required" for="password"></span>
    <input type="password" name="pwd" class="form-control" placeholder="Password" id="password">
  </div>
  <div class="form-group">
    <label for="cnt">点赞页数</label>
    <select name="cnt" class="form-control" id="cnt" value="{{ data.get('cnt') if ('qq' in session) else '1' }}"> 
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="feq">点赞次数<span class="required"> (仅对登陆用户有效)</span></label>
    <select name="feq" class="form-control" id="feq" value="{{data.get('feq') if 'qq' in session else '1'}}">
        <option value="1">1</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="100">200</option>
        <option value="100">500</option>
    </select>
  </div>
  <div class="form-group">
    <label for="inc">点赞间隔(min)<span class="required"> (仅对登陆用户有效)</span></label>
    <select name="inc" class="form-control" id="inc" value="{{ data.get('inc') if 'qq' in session else '10' }}">
        <option value="10">10</option>
        <option value="20">30</option>
        <option value="60">60</option>
        <option value="120">120</option>
        <option value="5">5</option>
    </select>
  <div/>

  <div class="form-group">
    <label></label>
    <button class="form-control" type="button">选择点赞的指定好友</button>
  </div>

  <div class="form-group">
    <label for="pos">出现以下词语就点赞(词条间请用#分开,自动忽略头尾空格)</label>
    <!-- Button trigger modal -->
    <a data-toggle="modal" href="#pos-em" id="pos-em-btn" class="btn">表情</a>

    <!-- Modal -->
    <div class="modal " id="pos-em" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">点击选择表情</h4>
          </div>
          <div class="modal-body">
            <div id="pos-em-body">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <input type="text" name="pos" id="pos" class="form-control" value="{{ data.get('pos') if 'qq' in session else ''}}"/>
  </div>

  <div class="form-group">
    <label for="neg">出现以下词语(同上)就不点赞(优先级低于上面的)</label>
    <!-- Button trigger modal -->
    <a data-toggle="modal" href="#neg-em" id="neg-em-btn" class="btn">表情</a>

    <!-- Modal -->
    <div class="modal " id="neg-em" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">点击选择表情</h4>
          </div>
          <div class="modal-body">
            <div id="neg-em-body">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <input type="text" id="neg" name="neg" class="form-control" value="{{ data.get('neg') if 'qq' in session else ''}}"/>
  </div>

  <div class="form-group hidden" id="verify_div">
    <label>请输入验证码，有时即使您已经登陆为了安全我们也会让您输入验证码</label>
    <span for="verify" class="required"></span>
    <img src="" class="verify_img"/>
    <input type="text" name="verify" class="form-control" placeholder="四位验证码">
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="remember" {{ 'checked="true"' if 'qq' in session }}> 记住登陆信息(保存书签(非密码)在服务器上，无需再次登陆)
    </label>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
<iframe class="hidden_point" id="iframe_verify"></iframe>
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/dianzan_qq.js') }}"></script>
{% endblock %}

{% block github %}
{{ super() }}
{% endblock %}
