<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SNS点赞机">
    <meta name="author" content="atupal">

    <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">

    {% endblock %}
    <title>{% block title %}SNS点赞机(by atupal){% endblock %}</title>

    {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="/css/github.css" rel="stylesheet">
    <link href="/css/all.css" rel="stylesheet">

    {% endblock %}
  </head>

  <body>
    <div id="wrapper">
    {% block body %}
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href="/">SNS点赞机(by atupal)</a></li>
          <li><a href="{{ url_for('dianzan_qq') }}">qq空间点赞机</a></li>
          <li><a href="#" class="uncompelte">人人点赞机</a></li>
          <li><a href="#" class="uncompelte">微博点赞机</a></li>
          <li><a href="#" class="uncompelte">定制点赞机</a></li>
          {% if 'user' in session %}
          <li><a href="{{ url_for('login') }}">{{ session.get('user') }}</span></a></li>
          {% else %}
          <li><a href="{{ url_for('login') }}">登陆<span class="required"> (登陆后使用所有功能)</span></a></li>
          {% endif %}
          <li><a href="#" class="uncompelte">个人中心</a></li>
          <li><a href="#" class="uncompelte">阅后即焚</a></li>
          <li><a href="#" class="uncompelte">定时说说/状态</a></li>
          <li><a href="#" class="uncompelte">Contact</a></li>
          <li><a href="#" class="uncompelte">About</a></li>
          <li><a href="{{ url_for('comment') }}">反馈留言</a></li>
          {% if 'admin' == session.get('user') %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">kvdbmanage<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('kvdbmanage', key='all') }}">all</a></li>
              <li><a href="{{ url_for('kvdbmanage', key='qq') }}">qq</a></li>
              <li><a href="{{ url_for('kvdbmanage', key='user') }}">user</a></li>
              <li><a href="{{ url_for('kvdbmanage', key='session:') }}">session</a></li>
              <li><a href="{{ url_for('kvdbmanage', key='trash') }}">trash</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    {% endblock %}
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <div class="content-header">
          <h1>
            <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
            {% block header %}
            重构中
            {% endblock %}
          </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <p class="required">请移步<a href=/origin>origin</a>, 或者使用左侧已经完成的一些功能</p>
          {% block page %}
          <ul>
            <li>
              <h3>点赞机是什么</h3>
              <pre>一个可以帮你自动自动点赞特定的状态/说说的点赞机器人，登陆后还能设定自己的点赞规则，比如每隔多少分钟自动点赞一次。。。
^_^ 或者
while(true) {
  给xxx的说说点赞;
  给xxx的说说取消赞;
  time.sleep(1分钟);//节操呢。。
}</pre>
            </li>
            <li>
              <h3>使用点赞机有盗号风险吗</h3>
              <pre>没有，所有操作跟你在自己的空间操作是一样的，包括登陆</pre>
            </li>
            <li>
              <h3>如果不小心点赞了不该点赞的状态怎么办</h3>
              <pre>你可以过滤调某些词语，使之不会点赞，支持过滤表情, 或者点赞的说说或动态显示出来，你可以立即取消赞</pre>
            </li>
            <li>
              <h3>有android版吗</h3>
              <pre>暂时没有，正在考虑</pre>
            </li>
            <li>
              <h3>点赞机是用什么写的</h3>
              <pre>python，源代码可以在右上角去看，欢迎fork</pre>
            </li>
            <li>
              <h3>如何反馈建议</h3>
              <pre>左侧</pre>
            </li>
          </ul>
          {% endblock %}
        </div>
      </div> <!-- page-cotent insert -->
      <div class="footer">
        <span>&copy; <a href="http://weibo.com/u/2625685811">atupal</a></span>
      </div>
    </div> <!-- wrapper -->


    {% block js %}
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <!-- Put this into a custom JavaScript file to make things more organized -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
    {% endblock %}

    {% block github %}
      <div class="github-fork-ribbon-wrapper right">
          <div class="github-fork-ribbon">
              <a href="https://github.com/atupal/3gqq">Fork me on GitHub</a>
          </div>
      </div>
    {% endblock %}
  </body>
</html>
