<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SNS点赞机">
    <meta name="author" content="atupal">

    <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">

    {% endblock %}
    <title>{% block title %}SNS点赞机(by atupal){% endblock %}</title>

    {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="css/github.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body>
    <div id="wrapper">
    {% block body %}
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href="/">SNS点赞机(by atupal)</a></li>
          <li><a href="{{ url_for('dianzan_qq') }}">qq空间定赞机</a></li>
          <li><a href="#">人人定赞机</a></li>
          <li><a href="#">微博定赞机</a></li>
          <li><a href="#">定制定赞机</a></li>
          <li><a href="#">个人中心</a></li>
          <li><a href="#">登陆</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    {% endblock %}
          
      <!-- Page content -->
      {% block page %}
      <div id="page-content-wrapper">
        <div class="content-header">
          <h1>
            <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
            正在重构代码，请移步<a href=/origin>origin</a>
          </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
        </div>
      </div>
      {% endblock %}
      
    </div>

    {% block js %}
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <!-- Put this into a custom JavaScript file to make things more organized -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
    <script>
    {% endblock %}
    </script>

    {% block github %}
      <div class="github-fork-ribbon-wrapper right">
          <div class="github-fork-ribbon">
              <a href="https://github.com/atupal/3gqq/blob/master/dianzan/dianzan_py-dom-xpath.py">Fork me on GitHub</a>
          </div>
      </div>
    {% endblock %}
  </body>
</html>
