{% extends "layout.html" %}

{% block head %}
{{ super() }}
<!-- It's is refer from: http://azmind.com/demo/fullscreen-login/   atupal coment  -->
{% endblock %}

{% block title %}
{{ super() }}
{% endblock %}

{% block css %}
{{ super() }}
{% endblock %}

{% block body %}
{{ super() }}
{% endblock %}

{% block header %}
{% if 'user' in session %}
welcome, {{ session.get('user') }}
{% else %}
登陆
{% endif %}
{% endblock %}

{% block page %}
{% if 'user' in session %}
<a href="{{ url_for('logout') }}">logout</a>
{% else %}
<form class="form-horizontal" role="form" method="POST">
  <div class="form-group">
    <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-10">
      <input type="email" class="form-control" id="inputEmail1" placeholder="Email" name="email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
    <div class="col-lg-10">
      <input type="password" class="form-control" id="inputPassword1" placeholder="Password" name="password">
    </div>
  </div>
  <!--div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="remember"> Remember me
        </label>
      </div>
    </div>
  </div-->

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="button" class="btn btn-default"><a href="/signup">注册</a></button>
      <button type="button" name="sub" class="btn btn-primary">登陆</button>
    </div>
  </div>
</form>
{% endif %}
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}

{% block github %}
{{ super() }}
{% endblock %}
