{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block title %}
test
{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
{% endblock %}

{% block header %}
{% endblock %}

{#
  this is for the notice info on the right page
  and we default has the super content
#}
{% block notice %}
{% endblock %}

{% block page %}
<input type="text" ng-model="name" placehold="world">
Hello {{ '{{' }} 'World' {{ '}}' }}
{% endblock %}

{#
  this is the footer ,
  default it is the copyright info
  and we contain super's content defaultly
#}
{% block footer %}
{% endblock %}

{% block js %}
{{ super() }}
{% endblock %}

{% block github %}
{% endblock %}
