.required {
  color: red;
}

.hidden {
  display: none;
}

.verify_img {
  display: block;
}

.hidden_point {
  width: 0px;
  height: 0px;
  display: none;
}

.em:hover {
  background: #000;
}

.em-wrap {
  display: inline;
}
